$color-primary: #981154;
$color-secondary: white;

* {
  box-sizing: border-box;
  width: 100;
  font-size: 1em;

}

body {
  background: $color-primary;
  color: $color-secondary;
  font-size: 26px;
}
